### Reviews.json

#### Importando Librerias.

In [2]:
import pandas as pd
import numpy as np
import sys
ruta= (r'C:\Users\ingju\Desktop\jrPI_1\fusion')
sys.path.append(ruta)
import funciones as fun

#### Creando DataFrame, con la función importada en un paquete.

In [2]:
reviews_dic = {'user_id':[], 'user_url':[], 'reviews':[]} # creando el diccionario donde se almacenara la información.
desa = fun.desanidar(r'C:\Users\ingju\Desktop\jrPI_1\data\00Original\australian_user_reviews.json', reviews_dic)
reviews = desa
reviews
reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

#### Guardando el DataFrame creado en un archivo .parquet para que pese menos.

In [3]:
reviews.to_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\01Reviews\01_reviews.parquet')

#### Creando un DataFrame con el arcchivo .parquet.

In [4]:
df_reviews = pd.DataFrame(pd.read_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\01Reviews\01_reviews.parquet'))
df_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

#### Liberando memoria.

In [5]:
del reviews

#### Creando un nuevo DataFrame instanciando el DataFrame anterior (reviews)
* Usando .explode()
    * El método **.explode()**, es una función de pandas en Python que se utiliza para descomponer una lista o una serie de listas en varias filas, repitiendo los valores en las otras columnas según corresponda. Esto es útil cuando se tiene datos anidados y deseas "desplegar" o "explorar" esos datos en un DataFrame más plano.

In [6]:
reviews_comenExpan = df_reviews.explode('reviews') # Instancio mi DataFrame para crar un nuevo DataFrame y poder observar solo lo que hay en la columna reviews

#### Observamos como se comporta **.explode()**

In [8]:
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [9]:
reviews_comenExpan

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '1 person found this review funny', ..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

#### Concatenamos el DataFrame original 'reviews', con el nuevo DataFrame 'reviews_comenExpan'.
* Despues eliminamos la columna 'reviews', del DataFrame Concatenado.

In [10]:
df_reviews = pd.concat([reviews_comenExpan.drop(['reviews'], axis=1), reviews_comenExpan['reviews'].apply(pd.Series)], axis=1)
df_reviews.head(1)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN

In [11]:
df_reviews.shape

(59333, 10)

#### Eliminamos la columna que esta vacia.

In [12]:
df_reviews.drop(df_reviews.columns.values[9], axis=1, inplace=True)
df_reviews

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
1,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

#### Rellenamos valores faltantes o valores en NaN con **.fillna()**

In [13]:
df_reviews.fillna('',inplace= True)

#### Revisando valores duplicados.

In [14]:
df_reviews[df_reviews['user_url'].duplicated(keep=False)].sort_values(by='user_id')

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
25239,--ace--,http://steamcommunity.com/id/--ace--,,"Posted May 30, 2014.",,113200,0 of 1 people (0%) found this review helpful,True,One Of The Funnyest Games That Is Animated :) ...
25239,--ace--,http://steamcommunity.com/id/--ace--,,"Posted January 24, 2014.",,440,2 of 3 people (67%) found this review helpful,True,the best game i ever plllayed
12954,--ionex--,http://steamcommunity.com/id/--ionex--,,Posted March 2.,,730,No ratings yet,True,"it done brokeded on me, the game no longer wor..."
12954,--ionex--,http://steamcommunity.com/id/--ionex--,,"Posted August 15, 2015.",,105600,No ratings yet,True,"It's an amazing game, and im glad that mac use..."
18659,-2SV-vuLB-Kg,http://steamcommunity.com/id/-2SV-vuLB-Kg,2 people found this review funny,"Posted January 12, 2015.",,277950,18 of 21 people (86%) found this review helpful,True,This is a masterpiece! In this MOVA crossed RP...
...,...,...,...,...,...,...,...,...,...
24058,zyr0n1c,http://steamcommunity.com/id/zyr0n1c,,"Posted February 1, 2015.",,730,2 of 5 people (40%) found this review helpful,True,"After playing 500 hours on this fantastic FPS,..."
24058,zyr0n1c,http://steamcommunity.com/id/zyr0n1c,,"Posted December 23, 2013.","Last edited September 25, 2014.",72850,1 of 2 people (50%) found this review helpful,True,It's been a long way since Elder Scrolls start...
24058,zyr0n1c,http://steamcommunity.com/id/zyr0n1c,,"Posted March 26, 2015.",,230410,1 of 1 people (100%) found this review helpful,True,Fantastic game! Lots of gamemodes and large va...
24058,zyr0n1c,http://steamcommunity.com/id/zyr0n1c,,"Posted December 23, 2013.",,620,4 of 6 people (67%) found this review helpful,True,Fantastic Game! It allows one to think really ...
24058,zyr0n1c,http://steamcommunity.com/id/zyr0n1c,,"Posted December 23, 2013.","Last edited March 10, 2015.",8980,0 of 4 people (0%) found this review helpful,True,A Gem.It's level of stupidity is just overwhem...

#### Eliminando valores duplicados.

In [15]:
reviews_duplicados = df_reviews.index.duplicated(keep='first') # Encontrando las filas con valores duplicados usando el index y manteniendo el primer valor con keep='first'
reviews_duplicados # observando los valores obtenidos en booleano

array([False,  True,  True, ..., False,  True,  True])

In [16]:
df_reviews = df_reviews[~reviews_duplicados] # creando el nuevo dataframe sin valores duplicados.
df_reviews

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
2,evcentric,http://steamcommunity.com/id/evcentric,,Posted February 3.,,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...
3,doctr,http://steamcommunity.com/id/doctr,,"Posted October 14, 2013.",,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...
4,maplemage,http://steamcommunity.com/id/maplemage,3 people found this review funny,"Posted April 15, 2014.",,211420,35 of 43 people (81%) found this review helpful,True,Git gud
...,...,...,...,...,...,...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,,Posted May 31.,,261030,0 of 1 people (0%) found this review helpful,True,I cried in the end its so sadding ]'; I wish l...
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,,Posted June 17.,,730,0 of 1 people (0%) found this review helpful,True,Gra naprawdę fajna.Ale jest kilka rzeczy do kt...
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,1 person found this review funny,Posted June 23.,,570,1 of 1 people (100%) found this review helpful,True,Well Done
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 21.,,233270,No ratings yet,True,this is a very fun and nice 80s themed shooter...
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...

In [17]:
df_reviews.shape

(25799, 9)

#### Eliminando columnas inecesarias.

In [18]:
df_reviews = df_reviews.drop(['user_url','funny','last_edited','helpful'],axis=1)
df_reviews

,user_id,posted,item_id,recommend,review
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
2,evcentric,Posted February 3.,248820,True,A suitably punishing roguelike platformer. Wi...
3,doctr,"Posted October 14, 2013.",250320,True,This game... is so fun. The fight sequences ha...
4,maplemage,"Posted April 15, 2014.",211420,True,Git gud
...,...,...,...,...,...
25794,76561198306599751,Posted May 31.,261030,True,I cried in the end its so sadding ]'; I wish l...
25795,Ghoustik,Posted June 17.,730,True,Gra naprawdę fajna.Ale jest kilka rzeczy do kt...
25796,76561198310819422,Posted June 23.,570,True,Well Done
25797,76561198312638244,Posted July 21.,233270,True,this is a very fun and nice 80s themed shooter...
25798,LydiaMorley,Posted July 3.,273110,True,had so much fun plaing this and collecting res...

#### Guardando el dataframe en un archivo csv.

In [19]:
df_reviews.to_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\01Reviews\02_reviews.parquet')

#### Liberando memoria.

In [20]:
del df_reviews, reviews_comenExpan

In [21]:
rev_reviews = pd.DataFrame(pd.read_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\01Reviews\02_reviews.parquet'))
rev_reviews.head()

,user_id,posted,item_id,recommend,review
index,,,,,
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
2,evcentric,Posted February 3.,248820,True,A suitably punishing roguelike platformer. Wi...
3,doctr,"Posted October 14, 2013.",250320,True,This game... is so fun. The fight sequences ha...
4,maplemage,"Posted April 15, 2014.",211420,True,Git gud

#### En la columnas posted tenemos ruido para que la columna indique bien la fecha.

In [22]:
rev_reviews['posted']= rev_reviews['posted'].str.replace('Posted ', '')
rev_reviews['posted']= rev_reviews['posted'].str.replace('.', '')
rev_reviews['posted']= rev_reviews['posted'].str.replace(', ', '-')
rev_reviews['posted']= rev_reviews['posted'].str.replace(' ', '-')
rev_reviews['posted']

index
0        November-5-2011
1           June-24-2014
2             February-3
3        October-14-2013
4          April-15-2014
              ...
25794             May-31
25795            June-17
25796            June-23
25797            July-21
25798             July-3
Name: posted, Length: 25799, dtype: object

#### Cambiamos el formato de la columna posted a datatime.

In [23]:
rev_reviews['posted'] = pd.to_datetime(rev_reviews['posted'], format= '%B-%d-%Y', errors='coerce')
rev_reviews['posted']

index
0       2011-11-05
1       2014-06-24
2              NaT
3       2013-10-14
4       2014-04-15
           ...
25794          NaT
25795          NaT
25796          NaT
25797          NaT
25798          NaT
Name: posted, Length: 25799, dtype: datetime64[ns]

In [24]:
rev_reviews

,user_id,posted,item_id,recommend,review
index,,,,,
0,76561197970982479,2011-11-05,1250,True,Simple yet with great replayability. In my opi...
1,js41637,2014-06-24,251610,True,I know what you think when you see this title ...
2,evcentric,NaT,248820,True,A suitably punishing roguelike platformer. Wi...
3,doctr,2013-10-14,250320,True,This game... is so fun. The fight sequences ha...
4,maplemage,2014-04-15,211420,True,Git gud
...,...,...,...,...,...
25794,76561198306599751,NaT,261030,True,I cried in the end its so sadding ]'; I wish l...
25795,Ghoustik,NaT,730,True,Gra naprawdę fajna.Ale jest kilka rzeczy do kt...
25796,76561198310819422,NaT,570,True,Well Done
25797,76561198312638244,NaT,233270,True,this is a very fun and nice 80s themed shooter...
25798,LydiaMorley,NaT,273110,True,had so much fun plaing this and collecting res...

#### Observando la informacion del DataFrame para ver cuantos valores nulos tenemos.

In [25]:
rev_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25799 entries, 0 to 25798
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    25799 non-null  object
 1   posted     21069 non-null  datetime64[ns]
 2   item_id    25799 non-null  object
 3   recommend  25799 non-null  bool
 4   review     25799 non-null  object
dtypes: bool(1), datetime64[ns](1), object(3)
memory usage: 1.0+ MB

#### Eliminando valores Nulos.

In [26]:
rev_reviews = rev_reviews.dropna()
rev_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21069 entries, 0 to 25780
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    21069 non-null  object
 1   posted     21069 non-null  datetime64[ns]
 2   item_id    21069 non-null  object
 3   recommend  21069 non-null  bool
 4   review     21069 non-null  object
dtypes: bool(1), datetime64[ns](1), object(3)
memory usage: 843.6+ KB

#### Eliminados los valores Nulos, procedemos a solo obtener el año en la columna posted.

In [27]:
rev_reviews['posted'] = rev_reviews['posted'].dt.year
rev_reviews

C:\Users\ingju\AppData\Local\Temp\ipykernel_9864\2773298314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rev_reviews['posted'] = rev_reviews['posted'].dt.year

,user_id,posted,item_id,recommend,review
index,,,,,
0,76561197970982479,2011,1250,True,Simple yet with great replayability. In my opi...
1,js41637,2014,251610,True,I know what you think when you see this title ...
3,doctr,2013,250320,True,This game... is so fun. The fight sequences ha...
4,maplemage,2014,211420,True,Git gud
5,Wackky,2014,249130,True,This game is Marvellous.
...,...,...,...,...,...
25764,wayfeng,2015,730,True,its FUNNNNNNNN
25765,76561198251004808,2015,253980,True,Awesome fantasy game if you don't mind the gra...
25769,72947282842,2015,730,True,Prettyy Mad Game
25771,ApxLGhost,2015,730,True,AMAZING GAME 10/10
25780,76561198267374962,2015,369200,True,Why I voted yes? 1. Girl characters have boobs...

#### Creando la columna Sentiment

In [28]:
from textblob import TextBlob

def analiZentimiento(texto):
    analysis = TextBlob(texto) # crear un objeto TextBlob del texto
    if analysis.sentiment.polarity < 0:
        return 0 # 'Negativo'
    elif analysis.sentiment.polarity == 0:
        return 1 # 'Neutral'
    else:
        return 2 # 'Positivo'
    
rev_reviews['sentiment_analysis'] = rev_reviews['review'].astype(str).apply(analiZentimiento)
rev_reviews['sentiment_analysis'].fillna(1,inplace=True)

C:\Users\ingju\AppData\Local\Temp\ipykernel_9864\118499797.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rev_reviews['sentiment_analysis'] = rev_reviews['review'].astype(str).apply(analiZentimiento)
C:\Users\ingju\AppData\Local\Temp\ipykernel_9864\118499797.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rev_reviews['sentiment_analysis'].fillna(1,inplace=True)

#### Revisando como quedo nuestro DataFrame y alamcenandolo en un archivo .parquet para que pese menos.

In [29]:
rev_reviews.head()

,user_id,posted,item_id,recommend,review,sentiment_analysis
index,,,,,,
0,76561197970982479,2011,1250,True,Simple yet with great replayability. In my opi...,2
1,js41637,2014,251610,True,I know what you think when you see this title ...,2
3,doctr,2013,250320,True,This game... is so fun. The fight sequences ha...,2
4,maplemage,2014,211420,True,Git gud,1
5,Wackky,2014,249130,True,This game is Marvellous.,0

In [30]:
rev_reviews.to_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\01Reviews\03_reviews.parquet', index= True)

In [3]:
rev_reviews = pd.DataFrame(pd.read_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\01Reviews\03_reviews.parquet'))
rev_reviews.head()

,user_id,posted,item_id,recommend,review,sentiment_analysis
index,,,,,,
0,76561197970982479,2011,1250,True,Simple yet with great replayability. In my opi...,2
1,js41637,2014,251610,True,I know what you think when you see this title ...,2
3,doctr,2013,250320,True,This game... is so fun. The fight sequences ha...,2
4,maplemage,2014,211420,True,Git gud,1
5,Wackky,2014,249130,True,This game is Marvellous.,0

#### Almacenando mi DataFrame

In [4]:
%store rev_reviews

Stored 'rev_reviews' (DataFrame)

In [33]:
rev_reviews.shape

(21069, 6)

In [36]:
rev_reviews['item_id'] = rev_reviews['item_id'].astype(int)

In [37]:
rev_reviews['item_id'].unique()

array([  1250, 251610, 250320, ..., 306040, 307130, 284950])

In [38]:
valor_buscado = 10
fila = rev_reviews.loc[rev_reviews['item_id']==valor_buscado]
fila

,user_id,posted,item_id,recommend,review,sentiment_analysis
index,,,,,,
409,Bennysaputra,2015,10,True,Cool game,0
1483,Monsta45,2015,10,True,Wallbang simulator,1
3332,76561198072207162,2014,10,True,People still play this! Siq game,0
5908,Monsta45,2015,10,True,Wallbang simulator,1
8711,76561198015886143,2015,10,True,Simplismente Perfeito!,1
9295,lanatbeonakeehsasamokoshtan,2014,10,True,Best game ever in the world,2
9401,aman98,2015,10,True,best game ever,2
9521,76561198001699914,2013,10,True,jueguenlooooooo,1
10403,brahhhhcsgomatee,2015,10,True,clickin heads since i was 12,1
13708,76561198082737449,2014,10,True,realmente,1
13908,76561198085715384,2013,10,True,♥♥♥♥,1
15217,TheRealChris02,2015,10,True,Best old school game,2
17521,cumme,2015,10,True,"Great game, one of my favourite games ever. Th...",1
17642,waspish,2012,10,True,Good Game :D,2
18375,officialrobo,2013,10,True,Одна из лучших игр в мире.,1
18405,amoocow,2014,10,True,"1,6 > go fk go.",1
22823,76561198076217855,2014,10,True,"Hola, acabo de descargar recien, y al iniciar ...",1
22855,Tokiwadai,2015,10,True,A good fps but i would get Source or GO first,2
23742,inconi70,2014,10,True,,1
24123,76561198089673598,2014,10,True,o cs e um otimo jogo de fps ele quase sempre,1
24828,JunglisJust-M-tlifewithmegg,2015,10,True,Counter-Strike makes you work to enjoy the con...,2
25151,76561198107235245,2013,10,True,echamos unas partidas,1
25362,76561198122904623,2015,10,True,Best game ever can't believe it's still alive.,2

In [43]:
rev_reviews['user_id'] = rev_reviews['user_id'].astype(str)