### Unificando el marge anterior con el DataFrame rev_reviews.

#### Importando librerias.

In [3]:
import pandas as pd
%store -r

#### Instanciando mi DataFrame rev_reviews importado.

In [2]:
rev_reviews = rev_reviews

In [3]:
rev_reviews

,user_id,posted,item_id,recommend,review,sentiment_analysis
index,,,,,,
0,76561197970982479,2011,1250,True,Simple yet with great replayability. In my opi...,2
1,js41637,2014,251610,True,I know what you think when you see this title ...,2
3,doctr,2013,250320,True,This game... is so fun. The fight sequences ha...,2
4,maplemage,2014,211420,True,Git gud,1
5,Wackky,2014,249130,True,This game is Marvellous.,0
...,...,...,...,...,...,...
25764,wayfeng,2015,730,True,its FUNNNNNNNN,1
25765,76561198251004808,2015,253980,True,Awesome fantasy game if you don't mind the gra...,2
25769,72947282842,2015,730,True,Prettyy Mad Game,0
25771,ApxLGhost,2015,730,True,AMAZING GAME 10/10,2
25780,76561198267374962,2015,369200,True,Why I voted yes? 1. Girl characters have boobs...,2

#### Instanciando mi DataFrame gamesMerge importado.

In [4]:
gamesMerge = gamesMerge
gamesMerge

,user_id,items_count,item_id,genres,price,anio_lanzamiento,title,playtime_forever,developer
0,76561197970982479,277,10,action,9.99,2000,Counter-Strike,6,Valve
1,doctr,541,10,action,9.99,2000,Counter-Strike,93,Valve
2,corrupted_soul,115,10,action,9.99,2000,Counter-Strike,108,Valve
3,WeiEDKrSat,28,10,action,9.99,2000,Counter-Strike,328,Valve
4,death-hunter,121,10,action,9.99,2000,Counter-Strike,6275,Valve
...,...,...,...,...,...,...,...,...,...
2659146,NotForPikachu,1081,366350,indie,4.99,2015,ROGUS - Kingdom of The Lost Souls,16,IronDrop Studios
2659147,76561198093826721,14,493720,"adventure,casual,indie",4.99,2016,Haven Moon,149,Francois Roussel
2659148,76561198107283457,33,273800,simulation,19.99,2016,Forestry 2017 - The Simulation,14,"Joindots,SilentFuture"
2659149,76561198107283457,33,354280,"action,casual,indie,simulation",5.99,2016,ChaosTower,164,CashcowGames
2659150,massimo23,87,448540,"adventure,indie",3.99,2016,Terror Lab,1,Nicolas Bernard

#### Observando la informaciÃ³n de rev_reviews.

In [5]:
rev_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21069 entries, 0 to 25780
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             21069 non-null  object
 1   posted              21069 non-null  int32
 2   item_id             21069 non-null  object
 3   recommend           21069 non-null  bool
 4   review              21069 non-null  object
 5   sentiment_analysis  21069 non-null  int64
dtypes: bool(1), int32(1), int64(1), object(3)
memory usage: 925.9+ KB

#### Colocando a entero la columna items_id de rev_reviews.

In [6]:
rev_reviews['item_id'] = rev_reviews['item_id'].astype(int)
rev_reviews['item_id']

index
0          1250
1        251610
3        250320
4        211420
5        249130
          ...
25764       730
25765    253980
25769       730
25771       730
25780    369200
Name: item_id, Length: 21069, dtype: int32

#### Convirtiendo la columna user_id a string de rev_reviews.

In [7]:
rev_reviews['user_id'] = rev_reviews['user_id'].astype(str)
rev_reviews['user_id']

index
0        76561197970982479
1                  js41637
3                    doctr
4                maplemage
5                   Wackky
               ...
25764              wayfeng
25765    76561198251004808
25769          72947282842
25771            ApxLGhost
25780    76561198267374962
Name: user_id, Length: 21069, dtype: object

#### Observando la informaciÃ³n de rev_reviews.

In [8]:
rev_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21069 entries, 0 to 25780
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             21069 non-null  object
 1   posted              21069 non-null  int32
 2   item_id             21069 non-null  int32
 3   recommend           21069 non-null  bool
 4   review              21069 non-null  object
 5   sentiment_analysis  21069 non-null  int64
dtypes: bool(1), int32(2), int64(1), object(2)
memory usage: 843.6+ KB

#### Observando la informaciÃ³n de  gamesMerge.

In [9]:
gamesMerge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2659151 entries, 0 to 2659150
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int32
 2   item_id           int32
 3   genres            object
 4   price             float64
 5   anio_lanzamiento  int64
 6   title             object
 7   playtime_forever  int64
 8   developer         object
dtypes: float64(1), int32(2), int64(2), object(4)
memory usage: 162.3+ MB

#### Instanciando columnas a usar para unificar los DataFrame.

In [10]:
columnasRev=['user_id','posted','item_id','recommend','sentiment_analysis']
columnasGames=['user_id','title','items_count','playtime_forever','developer','genres','price','anio_lanzamiento']

#### Unificando los DataFrame.

In [11]:
gameMerge = pd.merge(gamesMerge[columnasGames],rev_reviews[columnasRev], on='user_id' ,how='inner')

#### Almacenando mi DataFrame unificado en un archivo.parquet.

In [12]:
gameMerge.to_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\04gamesMerge\02gamesmerge.parquet')

#### Usando mi unificacion para crar un DataFrame llamado df_merge.

In [4]:
df_merge = pd.DataFrame(pd.read_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\04gamesMerge\02gamesmerge.parquet'))
df_merge.head()

,user_id,title,items_count,playtime_forever,developer,genres,price,anio_lanzamiento,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,Counter-Strike,277,6,Valve,action,9.99,2000,2011,1250,True,2
1,76561197970982479,Day of Defeat,277,7,Valve,action,4.99,2003,2011,1250,True,2
2,76561197970982479,Day of Defeat: Source,277,4733,Valve,action,9.99,2010,2011,1250,True,2
3,76561197970982479,Counter-Strike: Source,277,1853,Valve,action,19.99,2004,2011,1250,True,2
4,76561197970982479,Psychonauts,277,333,Double Fine Productions,action,9.99,2005,2011,1250,True,2

In [5]:
%store df_merge

Stored 'df_merge' (DataFrame)

#### Liberando memoria.

In [14]:
del rev_reviews, gamesMerge,columnasRev,columnasGames, gameMerge